.Navegador {
    width: 100%;
    background-color: $colorVerde;
       opacity: 0.83;
    padding: 5px;
    font-family: Quicksand-Light;
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: space-between;

    logo {
        width: 20px;
        padding: 10px;
    }

    ul {
        display: flex;
        list-style-type: none;
        height: 30px;

        li {
            position: relative;

            &:hover ul {
                display: block;
            }

            a {
                display: block;
                padding: 20px;
                text-decoration: none;
                color: white;
                font-size: 20px;
            }

            ul {
                position: absolute;
                top: 60px;
                left: 30px;
                width: 100px;
                list-style-type: none;
                background-color: #c9c1b0;
                color: white;
                display: none;

                li {
                    a {
                        display: block;
                        padding: 10px;
                        text-decoration: none;
                        color: #404040;
                        font-size: 25px;
                    }
                }

            }
        }
    }
}